
.app-header {
   background:grey;
  padding: 30px 15px;
  background-color:gray;
  }
.navbar-brand {
  margin-left: -15px;
  color: indigo;
  font-family: monospace;
}
 .icon {
  background: url(https://www.thehour.com/img/hdn/unification/weatherSprite.svg);
  background-size: cover;
  display:block;
  height: 25px;
  width: 25px;
  
  
}